/*********************TOUT***********************/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/images/wallpaper.jpg");
}

header {
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-family: "Opus Magnus Outline Condensed Italic", sans-serif;
}

header h1 {
  background: linear-gradient(to bottom, rgb(102, 0, 0), #9c0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5;
  font-size: 250px;
  margin-top: 0;
  margin-bottom: 1%;
}

p,
h2,
h3,
a,
nav,
.gallery {
  color: white;
  font-family: Georgia, serif;
}

label {
  color: black;
  font-family: Georgia, serif;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/********************* BACKGROUND ***********************/
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 65%;
}

/*********************FORMULAIRE***********************/
form {
  height: 450px;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

input::placeholder {
  color: whitesmoke;
}

/*********************BUTON SE CONNECTER****************/
button {
  margin-top: 50px;
  margin-bottom: 0px;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: darkred;
}

/******************LINK REGISTER *************/
.register-link {
  margin-top: 20px;
  text-align: center;
}

.register-link p {
  font-size: 14px;
  color: whitesmoke;
}

.register-link a {
  color: lightblue;
  text-decoration: underline;
  transition: 0.3s ease;
}
