<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion réussie</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/postLogin.css" />
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>

    <div class="confirmation-container">
      <h2>Connexion réussie !</h2>
      <p>Bienvenue, <%= username %> !</p>
      <p>Vous êtes maintenant connecté.</p>
    </div>
  </body>
</html>
