<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscription réussie</title>
    <link
      href="https://fonts.cdnfonts.com/css/opus-magnus-condensed"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/postRegister.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <h1>EVROPA HERITAGE</h1>
    </header>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>

    <div class="confirmation-container">
      <h2>Félicitations !</h2>
      <p>Votre compte a été créé avec succès.</p>
      <p>Vous pouvez maintenant vous connecter.</p>

      <a href="/login">
        <button type="button">Se connecter</button>
      </a>
    </div>
  </body>
</html>
